<% @title = 'HOME'%>
<h1><%= @title %></h1>
<h2>おかえりなさい。<%= link_to @current_user.name + 'さん', '/' + @current_user.uid %></h2>
<p><%= link_to 'アクティビティ', :user_activities %></p>
<p><%= link_to 'ボルともを探す', :user_users %></p>
